@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

textarea, input {
  display:block;
  resize: none;
  margin: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  @apply bg-yellow-500 text-white font-bold rounded border-red-500 border-b-4
}

.btn-reverse{
  @apply bg-black text-yellow-500 font-bold rounded py-2 px-8
}




.transparente{
  background-color:rgba(0, 0, 0, 0.2)
}

.transparente5{
  background-color:rgba(0, 0, 0, 0.5)
}

.roboto{
  font-family: 'Press Start 2P', cursive;
}



@media (min-width: 640px) {
  .repos-list{
  columns:1;
  -moz-columns: 1;
  @apply p-4;
  column-rule: 1px solid red;
}

.repos-list{
  break-inside: avoid-column;
}
}

@media (min-width: 1024px) {
  .repos-list{
  columns:2;
  -moz-columns: 2;
  @apply p-4;
  column-rule: 1px solid red;
}

.repos-list {
  break-inside: avoid-column;
}
}